<h1>Patients Data</h1>
<ul class="list-group list-group-flush">
    <li class="list-group-item" *ngFor="let patientData of patientsData">
        <h2>Patient: {{patientData.patientFirstname}} {{patientData.patientLastname}} </h2>
        <a [routerLink]="['/patientsData', patientData._id]">Patients Data</a>
        <a [routerLink]="['/patientsTip', patientTip_id]">Send Tip to Patient</a>
        <br>
    </li>
</ul>
<div *ngIf="patientsData && patientsData.length === 0">
    No patients Data yet, why don't you 
</div>
