<div *ngIf="user">
    <h1>Hello {{user.fullName}}</h1>
    <div class="btn-group-vertical">
        <a class="btn btn-dark" href="/api/auth/signout">Signout</a>
        <div *ngIf="user.isPatient">
            <a class="btn btn-dark" [routerLink]="['/']">Place Holder Patient</a>
        </div>
        <div *ngIf="!user.isPatient">
            <a class="btn btn-dark" [routerLink]="['/patientsData']">Place Holder Nurse</a>
        </div>
    </div>
</div>
<div *ngIf="!user">
    <a class="btn btn-light" [routerLink]="['/authentication/signup']">Signup</a>
    <a class="btn btn-dark" [routerLink]="['/authentication/signin']">Signin</a>
</div>